# Samples query to `with_metrics_goblin_maven_30_08_24.dump`

In [ ]:
import nbformat
from nbformat import read, NO_CONVERT

# Load connection notebook and methods
notebook_filename = 'NotebookNeo4JConnection.ipynb'

with open(notebook_filename) as f:
    nb = read(f, NO_CONVERT)

for cell in nb.cells:
    if cell.cell_type == 'code':
        exec(cell.source)

### Example Neo4J Graph View

In [ ]:
query = """
MATCH (s)-[r]->(t) RETURN s, r, t LIMIT 50
"""
run_query_graph(query)

GraphWidget(layout=Layout(height='800px', width='100%'))

In [ ]:
query = """
MATCH (n)
OPTIONAL MATCH (n)-[r]->(m)
RETURN n, r, m
LIMIT 10
"""
result_df = run_query_data_graph(query)
result_df.head(10)

GraphWidget(layout=Layout(height='610px', width='100%'))

,n,r,m
0,"{'found': True, 'id': 'com.splendo.kaluga:aler...","({'found': True, 'id': 'com.splendo.kaluga:ale...",{'id': 'com.splendo.kaluga:alerts-androidlib:S...
1,"{'found': True, 'id': 'com.splendo.kaluga:aler...","({'found': True, 'id': 'com.splendo.kaluga:ale...",{'id': 'com.splendo.kaluga:alerts-androidlib:1...
2,"{'found': True, 'id': 'com.splendo.kaluga:aler...","({'found': True, 'id': 'com.splendo.kaluga:ale...",{'id': 'com.splendo.kaluga:alerts-androidlib:1...
3,"{'found': True, 'id': 'com.splendo.kaluga:aler...","({'found': True, 'id': 'com.splendo.kaluga:ale...",{'id': 'com.splendo.kaluga:alerts-androidlib:1...
4,"{'found': True, 'id': 'com.splendo.kaluga:aler...","({'found': True, 'id': 'com.splendo.kaluga:ale...",{'id': 'com.splendo.kaluga:alerts-androidlib:0...
5,"{'found': True, 'id': 'com.splendo.kaluga:aler...","({'found': True, 'id': 'com.splendo.kaluga:ale...",{'id': 'com.splendo.kaluga:alerts-androidlib:0...
6,"{'found': True, 'id': 'com.splendo.kaluga:aler...","({'found': True, 'id': 'com.splendo.kaluga:ale...",{'id': 'com.splendo.kaluga:alerts-androidlib:1...
7,"{'found': True, 'id': 'com.splendo.kaluga:aler...","({'found': True, 'id': 'com.splendo.kaluga:ale...",{'id': 'com.splendo.kaluga:alerts-androidlib:1...
8,"{'found': True, 'id': 'com.splendo.kaluga:aler...","({'found': True, 'id': 'com.splendo.kaluga:ale...",{'id': 'com.splendo.kaluga:alerts-androidlib:1...
9,"{'found': True, 'id': 'com.splendo.kaluga:aler...","({'found': True, 'id': 'com.splendo.kaluga:ale...",{'id': 'com.splendo.kaluga:alerts-androidlib:1...

In [ ]:
import pandas as pd

# Queries to get the data
queries = {D
    "totalNodes": "MATCH (n) RETURN COUNT(n) AS totalNodes",
    "totalEdges": "MATCH ()-[r]->() RETURN COUNT(r) AS totalEdges",
    "totalReleases": "MATCH (r:Release) RETURN COUNT(r) AS totalReleases",
    "totalLibraries": "MATCH (a:Artifact) RETURN COUNT(a) AS totalLibraries",
    "totalDependencies": "MATCH ()-[r:dependency]->() RETURN COUNT(r) AS totalDependencies",
    "totalVersioningEdges": "MATCH ()-[r:relationship_AR]->() RETURN COUNT(r) AS totalVersioningEdges"
}

# Store results in a dictionary
results = {}

# Execute each query and store the result
for key, query in queries.items():
    result_df = run_query_data(query)
    results[key] = result_df[key][0]  # Get the value from the first line

# Create DataFrame from results
summary_df = pd.DataFrame.from_dict(results, orient='index', columns=['Count']).reset_index()
summary_df.rename(columns={'index': 'Metric'}, inplace=True)

# Salve-me CSV
summary_df.to_csv('graph_database_summary.csv', index=False)

print(summary_df)

                 Metric      Count
0            totalNodes   44693573
1            totalEdges  163695901
2         totalReleases   14459139
3        totalLibraries     658078
4     totalDependencies  119660406
5  totalVersioningEdges   14459139

#### Total nodes (libraries and releases)

In [ ]:
query = """
MATCH (n)
RETURN COUNT(n) AS totalNodes
"""
result_df = run_query_data(query)
result_df.head()

Tempo de resposta: 27.39 ms

   totalNodes
0    44693573

#### Total of edges

In [ ]:
query = """
MATCH ()-[r]->()
RETURN COUNT(r) AS totalEdges
"""
result_df = run_query_data(query)
result_df.head()

Tempo de resposta: 28.83 ms

   totalEdges
0   163695901

#### Total artifact nodes (as libraries)

In [ ]:
query = """
MATCH (a:Artifact)
RETURN COUNT(a) AS totalLibraries
"""
result_df = run_query_data(query)
result_df.head()

Tempo de resposta: 22.98 ms

   totalLibraries
0          658078

#### Total nodes of type release (releases)

In [ ]:
query = """
MATCH (r:Release)
RETURN COUNT(r) AS totalReleases
"""
result_df = run_query_data(query)
result_df.head()

Tempo de resposta: 22.45 ms

   totalReleases
0       14459139

#### Cannot detect language. Please choose it manually.

In [ ]:
query = """
MATCH ()-[r]->()
RETURN COUNT(r) AS totalEdges;
"""
result_df = run_query_data(query)
result_df.head()

Tempo de resposta: 14.44 ms

   totalEdges
0   163695901

#### Total dependencies

In [ ]:
query = """
MATCH ()-[r:dependency]->()
RETURN COUNT(r) AS totalDependencies
"""
result_df = run_query_data(query)
result_df.head()

Tempo de resposta: 29.25 ms

   totalDependencies
0          119660406

#### Total versionings (versioning edges)

In [ ]:
query = """
MATCH ()-[r:relationship_AR]->()
RETURN COUNT(r) AS totalVersioningEdges
"""
result_df = run_query_data(query)
result_df.head()

Tempo de resposta: 25.16 ms

   totalVersioningEdges
0              14459139

#### List all labels

In [ ]:
query = """
CALL db.labels()
YIELD label
RETURN label
"""
result_df = run_query_data(query)
result_df.head(10)

        label
0    Artifact
1     Release
2  AddedValue

#### Count number of nodes per label

In [ ]:
query = """
MATCH (n)
RETURN labels(n) AS labels, COUNT(n) AS total
"""
result_df = run_query_data(query)
result_df

         labels     total
0    [Artifact]    658078
1     [Release]  14459139
2  [AddedValue]  29576356

#### List the types of relationships

In [ ]:
query = """
CALL db.relationshipTypes()
YIELD relationshipType
RETURN relationshipType
"""
result_df = run_query_data(query)
result_df.head()

  relationshipType
0  relationship_AR
1       dependency
2      addedValues

#### Cannot detect language. Please choose it manually.

In [ ]:
query = """
MATCH (a:Artifact)
RETURN a
LIMIT 1000
"""
result_df = run_query_data(query)
result_df.head(10)

                                                   a
0  {'found': True, 'id': 'com.splendo.kaluga:aler...
1  {'found': True, 'id': 'org.wso2.carbon.identit...
2  {'found': True, 'id': 'org.apache.camel.quarku...
3  {'found': True, 'id': 'io.projectreactor:react...
4  {'found': True, 'id': 'com.lihaoyi:ammonite-sh...
5  {'found': True, 'id': 'com.codacy:codacy-engin...
6  {'found': True, 'id': 'org.grails:grails-datas...
7  {'found': True, 'id': 'org.bedework.deploy:bw-...
8  {'found': True, 'id': 'org.ops4j.pax.exam.samp...
9  {'found': True, 'id': 'org.webjars.npm:mocha-j...

#### List artifact names

In [ ]:
query = """
MATCH (a:Artifact)
RETURN a.id AS artifactName
LIMIT 1000
"""
result = run_query_data(query)
result [:10]

                                        artifactName
0               com.splendo.kaluga:alerts-androidlib
1  org.wso2.carbon.identity.framework:org.wso2.ca...
2  org.apache.camel.quarkus:camel-quarkus-kotlin-...
3    io.projectreactor:reactor-scala-extensions_2.11
4                  com.lihaoyi:ammonite-shell_2.10.5
5           com.codacy:codacy-engine-scala-seed_2.12
6                 org.grails:grails-datastore-simple
7  org.bedework.deploy:bw-wfmodules-calendar-engi...
8  org.ops4j.pax.exam.samples:pax-exam-sample7-se...
9                        org.webjars.npm:mocha-jsdom

#### Check structure of artifact nodes

In [ ]:
query = """
MATCH (a:Artifact)
RETURN a
LIMIT 1000
"""
result = run_query_data(query)
result [:10]

                                                   a
0  {'found': True, 'id': 'com.splendo.kaluga:aler...
1  {'found': True, 'id': 'org.wso2.carbon.identit...
2  {'found': True, 'id': 'org.apache.camel.quarku...
3  {'found': True, 'id': 'io.projectreactor:react...
4  {'found': True, 'id': 'com.lihaoyi:ammonite-sh...
5  {'found': True, 'id': 'com.codacy:codacy-engin...
6  {'found': True, 'id': 'org.grails:grails-datas...
7  {'found': True, 'id': 'org.bedework.deploy:bw-...
8  {'found': True, 'id': 'org.ops4j.pax.exam.samp...
9  {'found': True, 'id': 'org.webjars.npm:mocha-j...

In [ ]:
# query Cypher
query = """
MATCH p=()-[r:dependency]->() RETURN p LIMIT 25
"""

result_df = run_query_data_graph(query)
result_df.head(20)

GraphWidget(layout=Layout(height='670px', width='100%'))

                                                    p
0   [{'id': 'org.wso2.carbon.identity.framework:or...
1   [{'id': 'org.wso2.carbon.identity.framework:or...
2   [{'id': 'org.wso2.carbon.identity.framework:or...
3   [{'id': 'org.wso2.carbon.identity.framework:or...
4   [{'id': 'org.wso2.carbon.identity.framework:or...
5   [{'id': 'org.wso2.carbon.identity.framework:or...
6   [{'id': 'org.wso2.carbon.identity.framework:or...
7   [{'id': 'org.wso2.carbon.identity.framework:or...
8   [{'id': 'org.wso2.carbon.identity.framework:or...
9   [{'id': 'org.wso2.carbon.identity.framework:or...
10  [{'id': 'org.wso2.carbon.identity.framework:or...
11  [{'id': 'org.wso2.carbon.identity.framework:or...
12  [{'id': 'org.wso2.carbon.identity.framework:or...
13  [{'id': 'org.wso2.carbon.identity.framework:or...
14  [{'id': 'org.wso2.carbon.identity.framework:or...
15  [{'id': 'org.wso2.carbon.identity.framework:or...
16  [{'id': 'org.wso2.carbon.identity.framework:or...
17  [{'id': 'org.wso2.carbon.identity.framework:or...
18  [{'id': 'org.wso2.carbon.identity.framework:or...
19  [{'id': 'org.wso2.carbon.identity.framework:or...

# REST API example

In [ ]:
import requests

# URL endpoint
url_added_values = "http://<YOUR-IP-OR-DOMAIN>:8081/addedValues"

response = requests.get(url_added_values)

if response.status_code == 200:
    added_values = response.json()
    print(added_values)

['CVE', 'CVE_AGGREGATED', 'FRESHNESS', 'FRESHNESS_AGGREGATED', 'POPULARITY_1_YEAR', 'POPULARITY_1_YEAR_AGGREGATED', 'SPEED']

## Ecosystem Analysis

In [ ]:

query = """
MATCH (r:Release)
RETURN r
LIMIT 1000
"""

result_df = run_query_data(query)
result_df.head(10)

                                                   r
0  {'id': 'org.wso2.carbon.identity.framework:org...
1  {'id': 'org.apache.camel.quarkus:camel-quarkus...
2  {'id': 'org.apache.camel.quarkus:camel-quarkus...
3  {'id': 'org.wso2.carbon.identity.framework:org...
4  {'id': 'org.wso2.carbon.identity.framework:org...
5  {'id': 'org.wso2.carbon.identity.framework:org...
6  {'id': 'org.apache.camel.quarkus:camel-quarkus...
7  {'id': 'org.apache.camel.quarkus:camel-quarkus...
8  {'id': 'org.wso2.carbon.identity.framework:org...
9  {'id': 'com.splendo.kaluga:alerts-androidlib:0...

In [ ]:

query = """
MATCH (a:Artifact)
WITH a LIMIT 100
MATCH (a)-[:relationship_AR]->(r:Release)
WITH a, r
ORDER BY r.timestamp DESC
WITH a, COLLECT(r)[0] AS mostRecentRelease
RETURN mostRecentRelease
"""

result_df = run_query_data(query)
result_df.head(10)

                                   mostRecentRelease
0  {'id': 'aws.sdk.kotlin:kinesisanalytics-jvm:1....
1  {'id': 'aws.sdk.kotlin:elasticloadbalancing:1....
2  {'id': 'com.liferay:com.liferay.portal.securit...
3  {'id': 'io.quarkus:quarkus-vertx-deployment:3....
4  {'id': 'io.quarkus:quarkus-bootstrap-gradle-re...
5  {'id': 'com.walletconnect:foundation:1.18.3', ...
6  {'id': 'org.glassfish.jersey.examples:https-se...
7  {'id': 'org.jboss.weld:weld-core-parent:5.1.3....
8  {'id': 'com.azure:azure-iot-deviceupdate:1.0.2...
9  {'id': 'software.amazon.awscdk:cloud9-alpha:2....

In [ ]:
# Cypher
query = """
MATCH p=()-[r:dependency]->() RETURN p LIMIT 25
"""

result_df = run_query_data_graph(query)
result_df.head(10)

GraphWidget(layout=Layout(height='670px', width='100%'))

                                                   p
0  [{'id': 'org.wso2.carbon.identity.framework:or...
1  [{'id': 'org.wso2.carbon.identity.framework:or...
2  [{'id': 'org.wso2.carbon.identity.framework:or...
3  [{'id': 'org.wso2.carbon.identity.framework:or...
4  [{'id': 'org.wso2.carbon.identity.framework:or...
5  [{'id': 'org.wso2.carbon.identity.framework:or...
6  [{'id': 'org.wso2.carbon.identity.framework:or...
7  [{'id': 'org.wso2.carbon.identity.framework:or...
8  [{'id': 'org.wso2.carbon.identity.framework:or...
9  [{'id': 'org.wso2.carbon.identity.framework:or...

In [ ]:
# Cypher

query = """
MATCH (a:Artifact)
WITH a
MATCH (a)-[:relationship_AR]->(r:Release)
WITH a, r
ORDER BY r.timestamp DESC
WITH a, COLLECT(r)[0] AS mostRecentRelease
RETURN mostRecentRelease
LIMIT 10
"""

result_df = run_query_data(query)
result_df.head(10)

                                   mostRecentRelease
0  {'id': 'br.com.m4rc310:br-com-m4rc310-libs:1.0...
1  {'id': 'br.com.m4rc310:open:1.0.33', 'version'...
2  {'id': 'br.com.m4rc310:br-com-m4rc310-gql:1.0....
3  {'id': 'br.com.m4rc310:br-com-m4rc310-gtim:1.0...
4  {'id': 'br.com.m4rc310:br-com-m4rc310-weather:...
5  {'id': 'br.com.m4rc310:br-com-m4rc310-starter:...
6  {'id': 'cloud.webgen.web.crud.mongodb:SimpleCR...
7  {'id': 'com.algolia:algoliasearch-client-kotli...
8  {'id': 'com.algolia:algoliasearch-client-kotli...
9  {'id': 'com.algolia:algoliasearch-client-kotli...

In [ ]:
# Cypher
query = """
MATCH (a:Artifact)-[:relationship_AR]->(r:Release)
RETURN a.name, r.timestamp
ORDER BY r.timestamp DESC
LIMIT 10

"""

result_df = run_query_data(query)
result_df.head(10)

  a.name    r.timestamp
0   None  1724985046000
1   None  1724985045000
2   None  1724985045000
3   None  1724985045000
4   None  1724985044000
5   None  1724985043000
6   None  1724979155000
7   None  1724973231000
8   None  1724973222000
9   None  1724973192000

In [ ]:
# Cypher
query = """
MATCH (a:Artifact)-[:relationship_AR]->(r:Release)
RETURN a.name, r.timestamp
ORDER BY r.timestamp DESC
LIMIT 10
"""

result_df = run_query_data(query)
result_df.head(10)

  a.name    r.timestamp
0   None  1724985046000
1   None  1724985045000
2   None  1724985045000
3   None  1724985045000
4   None  1724985044000
5   None  1724985043000
6   None  1724979155000
7   None  1724973231000
8   None  1724973222000
9   None  1724973192000

In [ ]:
query = """
MATCH ()-[r:dependency]->(a:Artifact {id: "org.ops4j.pax.logging:pax-logging-api"})
WHERE r.scope IN ["compile", "provided", "runtime", "system", "test"]
RETURN r.scope, COUNT(r)
"""
result_df = run_query_data_graph(query)
result_df.head(10)

GraphWidget(layout=Layout(height='500px', width='100%'))

    r.scope  COUNT(r)
0   compile    100373
1      test       344
2  provided      7378
3   runtime       209